<div class="col-xs-12">

  <h1>Dashboard</h1>
  <ul class="block-grid">
    <% @users.each do |user| %>
    <li class="block-grid-item">
      <%= link_to user_checkin_path(user), class: 'avatar avatar-beta' do %>
        <% if user.avatar? %>
          <%= image_tag(current_user.avatar.beta.url) %>
        <% else %>
          <%= image_tag "avatar-default.svg" %>
        <% end %>
        <p>
          <span><%= user.first_name %></span>
          <span><%= user.last_name %></span>
        </p>
      <% end %>
    </li>
    <% end %>
  </ul>

</div>
